<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="add">

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style>

      body {
        font: 10px sans-serif;
      }

      .chord path {
        fill-opacity: .67;
        stroke: #000;
        stroke-width: .5px;
        -webkit-transition: opacity .25s;
        transition: opacity .25s;
      }

    </style>
  </head>

	<body ng-controller="ex14">

    <svg width="960" height="500">
      <g transform="translate(480, 250)">

        <g class="groups">
          <g class="path" ng-repeat="group in groups">
            <path ng-attr-d="{{ arc(group) }}" ng-attr-fill="{{ fill(group.index) }}" ng-attr-stroke="{{ getFill(group.index) }}" ng-mouseover="fade(group.index, .1)" ng-mouseleave="fade(group.index, 1)"/>
          </g>
        </g>

        <g class="ticks">
          <g ng-repeat="ticks in tickGroup">
            <g class="tick" ng-repeat="tick in ticks" ng-attr-transform="rotate({{ tick.angle }})translate({{ tick.distance }},0)">
              <line x1="1" y1="0" x2="5" y2="0" style="stroke: rgb(0, 0, 0);"></line>
              <text x="8" dy=".35em">{{ tick.label }}</text>
            </g>
          </g>
        </g>

        <g class="chord">
          <path ng-repeat="chord in chords" ng-attr-d="{{ radius(chord) }}" ng-attr-fill="{{ fill(chord.target.index) }}" ng-attr-opacity="{{ opacity(chord) }}">
        </g>

      </g>
    </svg>

  </body>

	<script type="text/javascript" src="/src/js/lib/angular.js"></script>
	<script type="text/javascript" src="/src/js/lib/d3.js"></script>

	<script type="text/javascript" src="/src/js/custom/app.js"></script>
	<script type="text/javascript" src="ex.js"></script>

</html>